/* Absolute Center Base */
.absolute-center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Absolute Center Axis */
.absolute-center--axis-horizontal {
  left: 50%;
  transform: translateX(-50%);
}

[dir='rtl'] .absolute-center--axis-horizontal {
  transform: translateX(50%);
}

.absolute-center--axis-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.absolute-center--axis-both {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[dir='rtl'] .absolute-center--axis-both {
  transform: translate(50%, -50%);
}
