/* Group Base */
.group {
  display: inline-flex;
  position: relative;
  gap: var(--spacing-2);
}

.group > * {
  position: relative;
}

.group > *:focus-visible {
  z-index: 1;
}

/* Group Orientation */

/* Group Attached */

.group--attached.group--horizontal > *:first-child {
  border-end-end-radius: 0;
  border-start-end-radius: 0;
  margin-inline-end: -1px;
}

.group--attached.group--horizontal > *:last-child {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.group--attached.group--horizontal > *:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-inline-end: -1px;
}

.group--attached.group--vertical > *:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}

.group--attached.group--vertical > *:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.group--attached.group--vertical > *:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-bottom: -1px;
}

/* Group Grow */

.group--grow > * {
  flex: 1;
}
