

.scroll-area__viewport::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

.scroll-area__viewport::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-area__viewport::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-a6);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background-color var(--duration-normal);
}

.scroll-area__viewport::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-a8);
}

[data-theme='dark'] .scroll-area__viewport::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-a4);
}

[data-theme='dark'] .scroll-area__viewport::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-a6);
}

.scroll-area--scrollbar-visible .scroll-area__viewport {
  scrollbar-width: auto;
}

.scroll-area--scrollbar-visible .scroll-area__viewport::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

.scroll-area--scrollbar-visible
  .scroll-area__viewport::-webkit-scrollbar-track {
  background-color: var(--color-gray-2);
  border-radius: 9999px;
}

[data-theme='dark']
  .scroll-area--scrollbar-visible
  .scroll-area__viewport::-webkit-scrollbar-track {
  background-color: var(--color-gray-1);
}
