/* Select Root */
.select {
  display: inline-block;
  position: relative;
  width: fit-content;
}

/* Select Label */

/* Select Control */

/* Select Trigger */

.select__trigger--variant-outline:focus-visible {
  outline: 2px solid var(--color-cyan-9);
  outline-offset: 2px;
}

.select__trigger--variant-surface:focus-visible {
  outline: 2px solid var(--color-cyan-9);
  outline-offset: 2px;
}

.select__trigger:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Select Value Text */

/* Select Indicator Group */

/* Select Positioner */

/* Select Content */

.select__content[data-state='open'] {
  animation: slide-fade-in var(--duration-slow) ease-out;
}

.select__content[data-state='closed'] {
  animation: slide-fade-out var(--duration-fastest) ease-out;
}

/* Select List */

/* Select Item */

.select__item:hover,
.select__item[data-highlighted] {
  background-color: var(--color-gray-3);
}

.select__item:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Select Item Text */

/* Select Item Indicator */

.select__item-indicator .icon {
  width: 1em;
  height: 1em;
}

/* Select Animations */
@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-4px);
  }
}
