{
  "plugins": ["prettier-plugin-astro"],
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
