---
import { ClientRouter } from "astro:transitions";
import { getLocale } from "../paraglide/runtime.js";
import Footer from "../components/Footer.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import Navbar from "../components/Navbar.astro";

const locale = getLocale();
---
<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Kube Mastery</title>
		<ClientRouter />
	</head>
	<body>
		<GlobalStyles />
		<Navbar locale={locale} />
		<slot />
		<Footer locale={locale} />
	</body>
</html>
